* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

button:focus {
    outline: 0;
}

.arial {
    font-family: Arial, sans-serif;
}

.times {
    font-family: "Times New Roman", Times, serif;
}

/* positioning */

.container {
    margin: 35px auto 10px auto;
    max-width: 1000px;
    padding: 30px 50px;
    height: 100px;
    position: relative;
}


/*-- quote --*/

#quote {
    text-align: center;
    font-size: 25px;
}

#open-quote {
    font-size: 60px;
    position: absolute;
    top: 0;
    left: 0;
}

#close-quote {
    font-size: 60px;
    position: absolute;
    bottom: -30px;
    right: 0;
}


/*-- author --*/

#author {
    text-align: right;
    margin-top: 30px;
    font-style: italic;
}

#author:before {
    content: "- "
}


/*-- buttons --*/

#button-container {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 45%;
}

#generate {
   width: 120px;
   height: 30px;
   border: 1px solid black;
   background: #eeeeee;
   cursor: pointer;
}

#tweet-button {
   width: 120px;
   height: 30px;
   background: #1da1f2;
   border: 1px solid #1da1f2;
   border: none;
}

p {
   -webkit-transition: opacity 1s ease-out;
   transition: opacity 1s ease-out;
}

/*--- transitions --*/


.fade-out {
    opacity: 0;
}


/*--- Generate --*/

.generate:before {
    content: "Generate";
}

/*--- C --*/

.c:before {
    content: "c";
}

.c {
    display: inline-block;
    color: white;
    -webkit-animation: rotating .5s linear infinite;
    animation: rotating .5s linear infinite;
}


@-webkit-keyframes rotating {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}


@keyframes rotating {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

/***- media ***/

@media screen and (max-width: 720px) {
    #button-container {
        top: 80%;
    }
}
